/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ============== General Css =========== */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--secondary-color);
}
body {
  background-color: var(--primary-color);
}
html {
  scroll-behavior: smooth;
}
:root {
  /* colors */
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --link-color: rgb(13, 134, 134);
  --gray-color: rgb(11, 25, 25);

  /* width */
  --lg-screen: 85%;
  --md-screen: 95%;
  --sm-screen: 95%;
  /* transition */
  --transition: all 0.3s ease-in-out;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
h1 {
  font-weight: 700;
  line-height: 25px;
  font-size: 20px;
}

.container {
  width: var(--lg-screen);
  margin: 0 auto;
}

/* ============== End of General Css =========== */

/* ==================== Gallery Css =============  */
#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}
.galleryCard {
  position: relative;
  overflow: hidden;
}
.galleryCard img {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.galleryCard:hover img {
  transform: scale(1.1);
  filter: blur(5px) grayscale(100%);
}
.galleryOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 3rem;
}
.galleryOverlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.contents span,
i {
  color: rgb(7, 55, 55) !important;
}
.more {
  /* background-color: aqua; */
  display: none;
  color: var(--link-color);
  transition: var(--transition);
}
.galleryOverlay:hover .more {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  transition: var(--transition);
}
.contents .location {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--gray-color);
}
/* ==================== End of Gallery Css =============  */

/* media query for responsiveness  */

/* Tablet mode */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: var(--md-screen);
  }
  .galleryWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .galleryOverlay {
    padding: 1rem;
  }
  .contents h1 {
    font-weight: 700;
    line-height: 25px;
    font-size: 16px;
  }
}

/* Phone mode */
@media only screen and (max-width: 767px) {
  .container {
    width: var(--sm-screen);
  }
  .galleryWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .galleryOverlay {
    padding: 0.5rem;
    display: none;
  }
}
/* End of media query */
